header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #80007c;
  background-image: url(http://www.transparenttextures.com/patterns/clean-gray-paper.png);
}

img {
  align-self: flex-end;
}

header h2 {
  font-size: 175%;
  font-weight: bold;
  /*align-self: center;*/
}