nav {
  height: 120px;
  background-color: #4056A1;
  padding: 1.5em;
  width: 100%;
}

nav span {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}
.new {
  padding: 1.5em;
  float: right;
  position: relative;
  font-size: smaller;

}